{% extends "baseTemplate.html" %}
{% block title %}{{ category.CategoryName }}{% endblock %}
{% block maincontent %}

<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h3 class="title">{{ category.CategoryName }}</h3>
            <div class="section-nav">
                <ul class="section-tab-nav tab-nav">
                    <li> 
                    <a href="{{ url_for('product.category', id=category.CategoryID, sort='latest') }}">Latest</a>
                    </li>
                    <li>
                    <a href="{{ url_for('product.category', id=category.CategoryID, sort='price') }}">Price Asc</a>
                    </li>
                    <li>
                    <a href="{{ url_for('product.category', id=category.CategoryID, sort='price_desc') }}">Price Desc</a>
                    </li>
                    <li>
                    <a href="{{ url_for('product.category', id=category.CategoryID, sort='name') }}">Name A-Z</a>
                    </li>
                    <li>
                    <a href="{{ url_for('product.category', id=category.CategoryID, sort='name_desc') }}">Name Z-A</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="gallery">
            {% for product in products %}
            <div class="product-box">
                <div class="productcontainer">
                    <img src="https://picsum.photos/300/300?{{ product.ProductID }}" alt="{{ product.ProductName }}" class="hero-image"/>
                    <div class="price">{{ product.UnitPrice }} SEK</div>
                    <div class="information">
                        <div class="name">{{ product.ProductName }}

                        </div>
                        <br>
                        <a href="{{ url_for('product.product', id=product.ProductID) }}" class="button">View Product</a>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No products found in this category.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
